/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Give entire page margins without using margin property*/
.home_body{
	display: flex;
	justify-content: center;
	width: 100%;
}
.home_margin{
	width: 80%;
}

/* Navigation Bar */
.home_nav{
	display:flex;
	justify-content: space-around;
	background: lightblue;
	position: sticky;
	top: 0;
	width: 100%;
}
.home_nav a{
	/* center text */
	display: flex;
	align-items: center;
}

/* Area with button and circle image */
.home_header{
	display: flex;
	justify-content: space-around;
}
.header_div{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.home_header img{
	margin: 20px 0px 20px 0px;
}
.home_header h1{
	font-size: 70px;
}
.home_header button{
	width: 50%;
	padding: 20px;
	border-radius: 50%;
}
/* Feature and About section */
.home_intro{
	display: flex;
	margin: 40px 0px 40px 0px;
}
/* Lare image Across page */
.mid_img{
	display:flex;
	justify-content: center;
}
.mid_img img{
	width: 100%;
}

/* Services products and vision section */
.home_middle{
	display:flex;
	margin: 40px 0px 40px 0px;
	justify-content: space-between;
}
.home_middle div{
	width: 33%;
}
/* Contact section */
.home_footer{
	margin: 40px 0px
}

/* Copyright Section */
.home_copyright{
	display:flex;
	justify-content: center;
	margin: 20px 0px 20px 0px;
}

/********************** SERVICES PAGE *******************/

/* Page margin */
.services_body{
	width: 100%;
	display: flex;
	justify-content: center;
}
.services_margin{
	width: 80%;
}

/* Services Navigation Bar */
.services_nav{
	display:flex;
	justify-content: space-around;
	background: lightblue;
	position: sticky;
	top: 0;
}
.services_nav a{
	/* center text */
	display: flex;
	align-items: center;
}
/* Top image */
.services_top_img{
	display: flex;
	justify-content: center;
}
.services_top_img img{
	width: 100%;
}

/* Services section*/
.services_section{
	display: flex;
	flex-direction: column;
	
}
.services_section h1{
	font-size: 40px;
}

/* Services Main Section */
.services_main_section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-around;
	width: 100%;
	height: 70%;
	
}
.services_main_section div{
	border: solid 1px black;
	background-color: rgb(196, 195, 195);
	width: 45%;
	height: 225px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding: 2%;
}

.services_main_section button{
	padding: 10px 25px;
}
